<footer class="section-footer border-top" style="background-color: #edeff1ff;">
  <div class="container">
    <section class="footer-bottom border-top d-flex align-items-center justify-content-between" style="flex-wrap: nowrap;">
      
      <div>
        <p class="text-muted mb-0">&copy; {{ site_setting.site_copy|default:"2025 Market Place" }}</p>
      </div>
      
      <div>
        
        <span class="px-2"><h6>Call US:</h6>9822342212</span>
        <span class="px-2">Kamalpokhari, Kathmandu, Nepal</span>
      </div>
      
      <div class="text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
      
    </section>
  </div>
</footer>
